version: '3.8'

services:
  mysql:
    image: mysql:8.0.32          
    platform: linux/arm64/v8     # Raspberry Pi 5 ! 
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: app_database
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    platform: linux/arm64/v8   
    restart: always
    ports:
      - "8000:8000"
      - "1883:1883"
    depends_on:
      - mysql
    volumes:
      - .:/app

volumes:
  mysql_data: